Options -Indexes

<IfModule mod_rewrite.c> 
  RewriteEngine on


  # Handle the case of backend, skip ([S=1]) the following rule, if current matched
  RewriteRule ^admin(/(.*))?$ backend/web/$2 [S=1]

  
  RewriteCond %{REQUEST_URI} !^public
  RewriteRule ^(.*)$ frontend/web/$1 [L] 


</IfModule>

# Deny accessing below extensions
<Files ~ "(.json|.lock|.git)">
Order allow,deny
Deny from all
</Files>

# Deny accessing dot files
RewriteRule (^\.|/\.) - [F]

